node_modules/

*.log
logs/
report.*.*.*.*.json
pids
*.pid
*.seed
*.pid.lock

lib-cov
coverage
*.lcov
.nyc_output
.grunt
bower_components
.lock-wscript
build/Release
jspm_packages/
web_modules/
*.tsbuildinfo
.npm
.eslintcache
.stylelintcache
.node_repl_history
*.tgz
.yarn-integrity

.env
.env.*

.cache
.parcel-cache
.next
out
.nuxt
.vuepress/dist
.temp
.svelte-kit/
**/.vitepress/dist
**/.vitepress/cache
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.firebase/
.tern-port
.vscode-test
.pnp.*
.yarn/*

vite.config.js.timestamp-*
vite.config.ts.timestamp-*

src/
test/

.eslintrc*
.prettierrc*
.editorconfig

eslint.config.*
tsconfig*.json
tsup.config.*
vitest.config.*

package-lock.json
yarn.lock
pnpm-lock.yaml

.gitignore
.gitattributes
.github/

!dist/
!dist/**
